<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.bathcarparksandroid503151" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Bath Car Park Spaces</name>
  <description>
    Live Car Park counts from car parks around Bath, Somerset.
    Data provided by Bath:Hacked.
  </description>
  <author email="fletcher.tom@gmail.com" href="http://bathhacked.org/">
     Tom Fletcher
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>

  <icon src="icons/icon.png" />
</widget>